@import "../../variables.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 48px;
}

.title {
    width: 20%;
    padding: 0 12px;
    @include h4();

    @include mobileOnly() {
        @include bodyXSmall();
        padding: 0 6px 0 0;
    }
}

.svg {
    width: 80%;
    height: 150px;
}

.tick {
    @include bodyXSmall();
    font-weight: bold;
}

.line {
    fill: black;
}

.thinLine {
    fill: $color-blue-bg;
}

// ----

.bar {
    fill: $color-grey;
    opacity: 0.8;

    &[data-low="true"] {
        fill: $color-red-data;
    }
    &[data-medium="true"] {
        fill: $color-yellow-data;
    }
    &[data-high="true"] {
        fill: $color-lime-data;
    }
    &[data-very-high="true"] {
        fill: $color-green-data;
    }
    &[data-hovered="true"] {
        opacity: 1;
    }
}

.hoverableBar {
    fill: rgba(0,0,0,0);
    pointer-events: painted;
}

.tooltip {
    width: 150px;
    height: 48px;
    fill: #fff;
    stroke-width: 2;
    stroke: $color-blue-bg;
}

.tooltipTextWrapper {
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
}
.tooltipText {
    white-space: break-spaces;
    @include bodyXSmall();
    line-height: 12px;
}

.tooltipData {
    @include body();
    font-weight: bold;
    margin-left: 6px;
}