@import "../../variables.scss";

.question {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "qText overview overview overview"
        "country country country country";
    margin: 36px auto;
}

.questionText {
    grid-area: qText;

    .label {
        @include h3();
        margin-bottom: 24px;
    }

    .explanation {
        margin-bottom: 24px;
    }

    .downloadButton {
        @include button();
        width: fit-content;
        margin-bottom: 12px;
        display: block;
    }

    .hideButton {
        @include button($color-blue-bg, $color-navy);
        width: fit-content;
        margin-bottom: 24px;
        display: block;

        .chevron {
            margin-left: 12px;
            &[data-direction="down"] {
                transform: rotate(180deg);
            }
        }
    }
}

.overviewTable {
    grid-area: overview;
    padding-left: 24px;
    margin-bottom: 24px;

    .countryCount {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
            max-width: 100px;
        }
    }
}

.countryTable {
    grid-area: country;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

    .summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .downloadButton {
            @include button();
            width: fit-content;
        }
    }

    &[data-visible="true"] {
        opacity: 1;
        max-height: 500px;
    }
}

.chartsContainer {
    margin-bottom: 24px;
}