@import "../../variables.scss";

.questionsHeading {
    padding-top: 60px;
}

.question {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "qText qText qText qText"
        "charts charts charts charts"
        "overview overview overview overview"
        "table table table table";
    margin: 36px auto;

    @include mobileOnly() {
        display: flex;
        flex-direction: column;
        margin: 12px auto;
    }
}

.questionText {
    grid-area: qText;

    .label {
        @include h3();
        margin-bottom: 24px;
    }

    .explanation {
        margin-bottom: 24px;
    }
}

.overviewTable {
    grid-area: overview;
    margin-bottom: 24px;

    @include mobileOnly() {
        padding: 0;
    }

    .countryCount {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
            max-width: 150px;
        }
    }

    .downloadButton {
        @include button();
        text-decoration: none;
        width: fit-content;
        margin: 30px 20px 10px 0;
    }

    .hideButton {
        @include button($color-blue-bg, $color-navy);
        width: fit-content;
        margin: 30px 20px 10px 0;

        .chevron {
            margin-left: 12px;
            &[data-direction="down"] {
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width: $width-mobile) {
        padding-left: 0;
    }
}

.countryTable {
    grid-area: table;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

    .summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .downloadButton {
            @include button();
            width: fit-content;
        }
    }

    &[data-visible="true"] {
        opacity: 1;
        max-height: 500px;
    }

    @media (max-width: $width-mobile) {
        overflow: scroll;
    }
}

.chartsContainer {
    grid-area: charts;
    margin-bottom: 24px;
}

.legendContainer {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    @include mobileOnly() {
        flex-direction: column;
        align-items: flex-end;
    }

    .legendTitle {
        @include body();
        font-weight: bold;
        margin-right: 24px;
        @include mobileOnly() {
            margin-bottom: 12px;
            margin-right: 0;
        }
    }

    .legend {
        display: flex;

        .legendItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            .box {
                width: 54px;
                height: 10px;
                margin-right: 2px;
                &[data-na="true"] {
                    background: $color-grey;
                }
                &[data-low="true"] {
                    background: $color-red-data;
                }
                &[data-medium="true"] {
                    background: $color-yellow-data;
                }
                &[data-high="true"] {
                    background: $color-lime-data;
                }
                &[data-very-high="true"] {
                    background: $color-green-data;
                }
            }
            span {
                @include bodyXSmall();
                font-weight: bold;
            }
        }
    }
}
