@import "../../variables.scss";

.root {
    font-family: $font-proxima;
    color: $color-navy;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 32px;

    @media (max-width: $width-mobile) {
        width: calc(100% - 24px);
        margin: 0;
        padding: 0 12px;
    }
}
