@import "../../variables.scss";

.goal {
    margin-bottom: 80px;
}

.tempGoalHeader {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 24px 0;

    p {
        max-width: 600px;
    }

    &:after {
        content: "";
        width: 100vw;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $color-blue-bg;
        z-index: -1;
    }
}

.mapArea {
    display: flex;

    .mapSidebar {
        width: 260px;
        margin-right: 20px;

        .sidebarBlock {
            padding: 20px;
            border: 1px solid $color-blue-bg;
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            // Placeholder:
            h3 {
                text-align: center;
            }

            // Placeholder:
            svg {
                width: 100%;
            }
        }
    }

    .mapContainer {
        flex-grow: 1;
    }
}

.timeArea {
    width: 100%;
    padding: 16px 20px;
    background: $color-blue-bg;
    box-sizing: border-box;
    margin-bottom: 20px;

    // Placeholder:
    img {
        width: 100%;
    }
}

.graphArea {
    // Placeholder:
    width: 100%;
    svg {
        width: 100%;
    }
}
