@import "../../variables.scss";

.goal {
    margin-bottom: 80px;
}

.mapArea {
    .mapSidebar {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto auto;
        margin-bottom: 40px;
        column-gap: 20px;
        justify-content: space-between;
    }

    .mapContainer {
        flex-grow: 1;
    }
}

.sidebarBlock {
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: $color-light-blue;
    border-radius: 10px;    
}

.timeArea {
    width: 100%;
    padding: 16px 20px;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;

    // Placeholder:
    img {
        width: 100%;
    }
}

.highlight {
    color: $color-highlight-blue;
    font-weight: bold;
}

.chartArea {
    .chartSelectors {
        display: flex;
        margin-bottom: 20px;
        .indicatorSelector {
            width: 400px;
        }
        .yearSelector{
            margin-left: 16px;
            width: 150px;
        }
    }
}