@import "../../variables.scss";

// ------

.bivariateLegend {
    position: relative;
    display: inline-block;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.bivariateLegendTop {
    display: flex;
    align-items: center;
}

.bivariateLegendBottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

$l-w: 120px;
$lc-w: $l-w / 3;
.legendColour {
    display: flex;
    flex-direction: column;
    width: $l-w;
}

.legendColourRow {
    display: flex;
    flex-direction: row;
}

.legendColourCell {
    width: $lc-w;
    height: $lc-w;
    transition: opacity 0.2s;
    &[data-disabled="true"] {
        opacity: 0;
    }
}
.legendColourSpan {
    display: flex;
    justify-content: space-between;

    &[data-y="true"] {
        flex-direction: column;
        margin-right: 8px;
        height: $l-w;
    }
    &[data-x="true"] {
        width: $l-w;
        margin-top: 8px;
    }
}

.legendColourSpanValue {
    @include bodySmall();
    font-weight: bold;
    display: flex;

    &[data-y="true"] {
        flex-direction: column;
        align-items: center;
        svg:first-child {
            margin-bottom: 8px;
        }
        svg:last-child {
            margin-top: 8px;
        }
    }
    &[data-x="true"] {
        svg:first-child {
            margin-right: 8px;
        }
        svg:last-child {
            margin-left: 8px;
        }
    }
}
