@import "../../variables.scss";

$bottomPadding: 27px;
$covidToggleWidth: 220px;

.mapFiltersLegends {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

// ----

.questionInfo {
    width: 290px;
    margin-right: 54px;

    .questionInfoHeading {
        @include h3();
    }

    .questionInfoDescriptionContainer {
        margin-top: 8px;
        overflow: hidden;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            background: linear-gradient(rgba(white, 0), white);
            transition: opacity 0.2s;
        }

        &[data-open="true"] {
            &:after {
                opacity: 0;
            }
        }
    }

    .questionInfoDescription {
        @include body();
        margin: 0;
        text-overflow: ellipsis;
    }

    .questionInfoSeeMore {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.8;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        @include buttonFont();
        font-weight: bold;
        font-size: 12px;

        &:hover {
            opacity: 1;
        }
    }
}

// ------

.bivariateIndicatorSelection {
    display: flex;
    flex-direction: column;
    padding-top: 16px;

    .bivariateIndicatorItem {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &[data-y="true"] {
            .bivariateIndicatorDropdownWrap:after {
                content: "↕";
                transform: translateY(-50%) translateY(1px) translateX(6px);
            }
        }
        &[data-x="true"] {
            .bivariateIndicatorDropdownWrap:after {
                content: "↔";
                transform: translateY(-50%) translateY(-1px);
            }
        }

        .bivariateIndicatorDropdownWrap {
            width: 360px;
            margin-left: 8px;
            position: relative;
            &:after {
                position: absolute;
                z-index: 8;
                left: 12px;
                top: 50%;
            }

            @media (max-width: $width-mobile) {
                width: 300px;
            }
        }
    }
}

// ----

.checkbox {
    width: 14px;
    height: 14px;
    padding: 0;
    border: 2px solid $color-blue-bg;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    transition: background 0.2s, border-color 0.2s;

    &[data-selected="true"] {
        background: $color-navy;
        border-color: $color-navy;
    }

    svg {
        min-width: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }
}

// -----

.categoryList {
    list-style: none;
    padding: 0;
    margin-left: 24px;
    padding-top: 12px;

    .categoryItemRow {
        .categoryItemCell {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 8px;
        }
        .categoryIcon {
            max-width: 9px;
            max-height: 9px;
            min-width: 9px;
            min-height: 9px;
            border-radius: 50%;
            border: 2px solid $color-navy;
            margin-right: 8px;

            &[data-i="0"] {
                border-color: $color-navy;
            }

            &[data-i="1"] {
                border-color: $color-yellow;
            }

            &[data-i="2"] {
                border-color: $color-red;
            }

            &[data-selected="true"] {
                &[data-i="0"] {
                    background: $color-navy;
                }

                &[data-i="1"] {
                    background: $color-yellow;
                }

                &[data-i="2"] {
                    background: $color-red;
                }
            }
        }

        .categoryText {
            @include body();
            font-weight: bold;
        }
    }
}

// -----

.radiusControls {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 24px;
}

.radiusLegend {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    .legendSvg {
        width: 105px;
        height: 40px;
    }

    .legendPoly {
        fill: $color-blue-bg;
    }

    .legendCircle {
        stroke: $color-navy;
        fill: white;
        stroke-width: 2;
    }

    .legendLabels {
        display: flex;
        justify-content: space-between;
    }
}
// -----

.radiusIndicatorSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.radiusIndicatorFineprint {
    p {
        font-size: 12px;
        width: $covidToggleWidth;
        margin: 0 0 0 30px;
        padding: 0;
    }
}

.toggle {
    position: relative;
    border: 2px solid $color-blue-bg;
    height: 36px;
    border-radius: 18px;
    width: $covidToggleWidth;
    overflow: hidden;
    margin-left: 16px;

    .toggleOption {
        background: none;
        border: none;
        outline: none;
        height: 36px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        white-space: nowrap;
        @include buttonFont();
        line-height: 14px;
        opacity: 0.25;
        transition: opacity 0.2s;
        &[data-active="true"] {
            opacity: 1;
        }
    }

    .toggleSlide {
        position: absolute;
        top: 2px;
        bottom: 2px;
        transition: left 0.2s;
        background: $color-blue-bg;
        z-index: -1;
        border-radius: 18px;
    }
}

// ------

.bivariateLegend {
    position: relative;
    display: inline-block;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;
    padding-top: 16px;
}

.bivariateLegendTop {
    display: flex;
    align-items: center;
}

.bivariateLegendBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

$l-w: 105px;
$lc-w: $l-w / 5;
$lc-w-hdi: $l-w / 4;
.legendColour {
    display: flex;
    flex-direction: column;
    width: $l-w;
}

.legendColourRow {
    display: flex;
    flex-direction: row;
}

.legendColourCell {
    width: $lc-w;
    height: $lc-w;
    transition: background 0.2s, border-color 0.2s;
    box-sizing: border-box;
    border: 1px solid transparent;
    &[data-disabled="true"] {
        background: none !important;
        border-color: rgba($color-blue-bg, 0.5);
    }
    &[data-hdi-x="true"] {
        width: $lc-w-hdi;
    }
    &[data-hdi-y="true"] {
        height: $lc-w-hdi;
    }
}
.legendColourSpan {
    display: flex;
    justify-content: space-between;

    &[data-y="true"] {
        flex-direction: column;
        align-items: center;
        height: $l-w;
    }
    &[data-x="true"] {
        width: $l-w;
        margin-top: 4px;
        align-items: center;
    }
}

.legendColourSpanValue {
    @include body();
    font-size: 12px;
    font-weight: bold;
    display: flex;

    &[data-y="true"] {
        flex-direction: column;
        align-items: center;
        svg:first-child {
            margin-bottom: 8px;
        }
        svg:last-child {
            margin-top: 8px;
        }
    }
    &[data-x="true"] {
        align-items: center;
        svg {
            margin-bottom: 2px;
        }
        svg:first-child {
            margin-right: 8px;
        }
        svg:last-child {
            margin-left: 8px;
        }
    }
}

.legendYLabelContainer {
    position: relative;
    width: 42px;
}

.bivariateAxisLabelX,
.bivariateAxisLabelY {
    @include buttonFont(center);
    font-size: 12px;
    line-height: 12px;
    min-width: $l-w;
    max-width: $l-w;
}

.bivariateAxisLabelX {
}

.bivariateAxisLabelY {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center center;
    transform: translateY(-50%) rotate(-90deg) translateY(-100%) translateY(-52px);
}
