@import "../../variables.scss";

.indicatorTable {
    font-family: $font-proxima;
    color: $color-navy;
}

.buttonRow {
    padding: 10px 32px;
    display: flex;
    align-items: center;
}

.downloadButton, .showHideButton {
    width: 210px;
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    border-radius: 22px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: $color-highlight-blue;
    border: none;
    outline: none;
    cursor: pointer;
    color: $color-light-blue;
    text-align: center;

    svg {
        margin-left: 10px;
    }
}

.showHideButton {
    background: none;
    border: 1px solid $color-highlight-blue;
    color: $color-highlight-blue;
    margin-left: 20px;
}

.downloadLink {
    color: $color-highlight-blue;
    margin-left: 20px;
}