@import "../../../variables.scss";

.factoid {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: space-between;
}

.factoidNumber {
    @include h1();
    margin: 0;
}

.highlight {
    color: $color-highlight-blue;
    font-weight: bold;
}