@import "../../variables.scss";

.headerContainer {
    height: 100px;
    background-color: #fff;

    @include mobileOnly() {
        height: 80px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-width;
    height: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

.title {
    display: flex;
}

.navButtons {
    display: flex;
    padding: 0;
    list-style: none;
}

.navItem {
    &:first-of-type {
        margin-right: 24px;
        @include mobileOnly {
            margin-right: 12px;
        }
    }
}

.navLink {
    text-transform: uppercase;
    text-decoration: none;
    @include h4();
    color: $color-navy;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }

    @include mobileOnly {
        @include bodyXSmall();
        font-weight: bold;
    }
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 24px;

    @include mobileOnly {
        margin-left: 12px;
        justify-content: space-evenly;
    }

    .mainHeading {
        @include h4();
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include mobileOnly {
            @include bodyXSmall();
            font-weight: bold;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
        }

        .betaTag {
            @include body();
            font-weight: bold;
            background: $color-blue-bg;
            padding: 6px 12px;
            border-radius: 16px;
            text-transform: uppercase;
            margin-right: 12px;

            @include mobileOnly {
                @include bodyXSmall();
                font-weight: bold;
                padding: 3px 6px;
                margin-right: 0;
                margin-bottom: 2px;
            }
        }
    }

    .subHeadings {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .updateDate {
            @include bodyXSmall();
            em {
                font-style: normal;
                font-weight: bold;
            }
        }
    }
}
