@import "../../variables.scss";

.headerContainer {
    width: 100vw;
    height: 100px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-width;
    height: 100%;
    margin-left: calc((100vw - #{$container-width}) / 2);
}

.title {
    display: flex;
}

.navButtons {
    display: flex;
    padding: 0;
    list-style: none;
}

.navItem {
    &:first-of-type {
        margin-right: 24px;
    }
}

.navLink {
    text-transform: uppercase;
    text-decoration: none;
    @include h4();
    color: $color-navy;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 24px;

    .mainHeading {
        @include h4();
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .betaTag {
            @include body();
            font-weight: bold;
            background: $color-blue-bg;
            padding: 6px 12px;
            border-radius: 16px;
            text-transform: uppercase;
            margin-right: 12px;
        }
    }

    .subHeadings {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .updateDate {
            @include bodyXSmall();
            em {
                font-style: normal;
                font-weight: bold;
            }
        }
    }
}
