@import "../../variables.scss";

.mapOuterContainer {
    width: 80%;
    line-height: 1.2em;

    @include mobileOnly() {
        width: 100%;
    }
}

.mapContainer {
    width: 100%;
    height: 560px;
    position: relative;
    border: 1px solid $color-blue-bg;
    margin: 10px 0;

    @include mobileOnly() {
        height: 360px;
    }

    :global {
        #deckgl-wrapper {
            @include mobileOnly {
                user-select: initial !important;
                touch-action: initial !important;
            }
        }
    }
}

.mapTitle {
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.75em;
    line-height: 1.2em;
    font-weight: bold;
    color: $color-grey;
}

// ----

.mapControls {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px solid $color-blue-bg;
    border-radius: 4px;

    .mapZoomButton {
        width: 30px;
        height: 30px;
        border-radius: 0;
        background: white;
        outline: none;
        cursor: pointer;
        color: $color-navy;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 12px;
            height: 12px;
        }

        &:not(:last-child) {
            border-bottom: 2px solid $color-blue-bg;
        }

        &:hover {
            background: $color-blue-bg;
        }
    }
}

// ----

.tooltipClickTrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
}

.tooltip {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    pointer-events: none;
    width: 240px;
    box-sizing: content-box;
    z-index: 23;
    left: 0;
    top: 0;

    &[data-click="true"] {
        pointer-events: all;
    }

    .tooltipHeader {
        background: $color-yellow;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 20px;
        padding-right: 40px;
        position: relative;
        .tooltipHeading {
            @include h4();
        }

        .tooltipClose {
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%) translateY(3px);
            padding: 12px;
            > svg {
                transform: rotate(45deg);
            }
        }
    }

    .tooltipBody {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;

        .tooltipDatum {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            .tooltipDatumIcon {
                margin-right: 8px;
                margin-top: 2px;
                &[data-bivariate="true"] {
                    min-width: 9px;
                    min-height: 9px;
                    background: white;
                    border: 1px solid #e1e1e1;
                }
                &[data-radius="true"] {
                    min-width: 9px;
                    min-height: 9px;
                    border-radius: 50%;
                    background: white;
                    border: 1.5px solid $color-navy;
                }
                &[data-category="true"] {
                    min-width: 9px;
                    min-height: 9px;
                    border-radius: 50%;
                    background: none;
                    border: 1.5px solid $color-red;
                }
            }

            .tooltipDatumText {
                display: flex;
                flex-direction: column;
                .tooltipDatumLabel {
                    @include body();
                    font-size: 12px;
                    line-height: 12px;
                    margin-bottom: 6px;
                }
                .tooltipDatumValue {
                    @include body();
                    font-weight: bold;
                }
                .tooltipDatumDate {
                    @include body();
                    font-size: 12px;
                    line-height: 12px;
                    margin-bottom: 6px;
                    color: rgba($color-navy, 0.5);
                }
            }
        }
    }

    .tooltipLink {
        display: block;
        padding: 0 20px 20px 20px;
        text-decoration: underline;
        color: $color-navy;
        font-size: 12px;

        > svg {
            height: 8px;
            transform: rotate(90deg);
        }

        &:hover {
            opacity: 0.9;
        }
    }
}

// ----------

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s;
    &[data-visible="false"] {
        opacity: 0;
        pointer-events: none;
    }
}

.circleVis {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;

    .visCircle {
        fill: none;
        stroke: $color-navy;
        stroke-width: 2px;
    }

    .visCategoryCircle {
        fill: none;
        stroke: $color-grey-c3;
        stroke-width: 2px;
        opacity: 0.3;

        &[data-active="true"] {
            stroke-width: 1px;
            fill: $color-grey-c3;
            opacity: 0.9;
            &[data-i="0"] {
                fill: $color-navy;
                stroke: $color-navy;
            }
            &[data-i="1"] {
                fill: $color-yellow;
                stroke: $color-yellow;
            }
            &[data-i="2"] {
                fill: $color-red;
                stroke: $color-red;
            }
            &[data-i="3"] {
                fill: $color-green;
                stroke: $color-green;
            }
            &[data-i="4"] {
                fill: $color-blue;
                stroke: $color-blue;
            }
            &[data-i="5"] {
                fill: $color-purple;
                stroke: $color-purple;
            }
            &[data-i="6"] {
                fill: $color-cerise;
                stroke: $color-cerise;
            }
        }
    }
}

// ------

.button3D {
    @include button();
    width: fit-content;
}

.mapDisclaimer {
    color: $color-grey;

    @include mobileOnly() {
        display: block;
        margin-bottom: 30px;
    }
}
