@import "../../variables.scss";

.mapContainer {
    width: 100%;
    height: 560px;
    position: relative;
    border: 1px solid $color-blue-bg;
    margin: 24px 0;

    @include mobileOnly() {
        height: 360px;
    }
}
