@import "./variables.scss";

.root {
    font-family: $font-proxima;
    color: $color-navy;
}

.container {
    width: 100vw;
    max-width: $container-width;
    margin: 0 auto;
    padding-top: 100px;
}
