@import "./variables.scss";

.root {
    font-family: $font-proxima;
    color: $color-navy;
}

.container {
    width: 100vw;
    max-width: $container-width;
    padding: 0 32px;
    padding-bottom: 400px;
    margin: 0 auto;
}
