$font-proxima: "proxima-nova", "Helvetica Neue", "serif";

$color-blue-bg: #e9ecf6;
$color-navy: #110848;
$color-yellow: #e9ce2c;

$container-width: 1166px;
$width-mobile: 700px;

@mixin h1($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 144px;
}
@mixin h2($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}
@mixin h3($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

@mixin h4($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

@mixin body($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

@mixin bodySmall($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

@mixin buttonFont($text-align: "") {
    @if $text-align != "" {
        text-align: $text-align;
    }
    font-family: $font-proxima;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

@mixin button($bg-color: "", $font-color: "") {
    background: $color-navy;
    color: white;
    border: 2px solid $color-navy;
    @if $bg-color != "" {
        background: $bg-color;
        border-color: $bg-color;
    }
    @if $font-color != "" {
        color: $font-color;
    }
    @include buttonFont(center);
    font-size: 14px;
    border-radius: 24000px;
    padding: 8px 16px;
    transform-origin: center center;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    transition: background 0.2s, color 0.2s;
    &[data-enabled="false"] {
        color: $color-navy;
        background: none;
        @if $bg-color != "" {
            background: $font-color;
        }
        @if $font-color != "" {
            color: $bg-color;
        }
    }
    &:focus {
        outline: none;
    }
}

@mixin mobileOnly {
    @media (max-width: $width-mobile) {
        @content;
    }
}
