@import "../../variables.scss";

.timeline {
    width: 100%;
}

// ----

.controls {
    margin-bottom: 8px;
}

// ----

.vis {
    width: 100%;
}

.visBarOuter {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: white;
    .visBarFill {
        background: $color-navy;
        height: 100%;
        border-radius: 5px;
    }
}

.ticks {
    position: relative;
    width: 100%;
    height: 18px;
    margin-top: 4px;
    cursor: pointer;

    .tick {
        padding-top: 8px;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;

        &[data-selected="true"] {
            font-weight: 600;
        }

        &:before {
            content: "";
            width: 1px;
            background: lighten($color-navy, 75);
            height: 4px;
            position: absolute;
            top: 0;
            left: 50%;
        }
    }
}
