@import "../../variables.scss";

.filtersContainer {
    width: 100%;
    // placeholder height so we an just see this component as a divider
    // between the map and the tables
    height: 100px;
    background-color: $color-blue-bg;
    display: flex;

    &:before {
        content: "";
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        background: $color-blue-bg;
        z-index: -1;
        height: 104px;
    }
}
