@import "../../variables.scss";

// -----

.pillarControl {
    margin-bottom: 24px;

    .pillarLabel {
        @include body();
        font-weight: bold;
    }

    .pillarButtons {
        display: flex;
        flex-direction: row;
        .pillarButton {
            background: none;
            outline: none;
            pointer: cursor;
            border: 2px solid $color-navy;
            padding: 12px 16px;
            @include buttonFont();

            &[data-selected="true"] {
                background: $color-yellow;
            }
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}
// ----

.pillarInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 18px;

    .pillarInfoText {
        flex-grow: 1;
        .pillarHeading {
            @include h1();
        }

        .pillarDescription {
            @include body();
            margin-bottom: 0;
        }
    }

    .pillarIndicators {
        width: 323px;
        min-width: 323px;
        height: 125px;
        background: $color-blue-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 36px;
    }
}

// ------------

.mapContainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 560px;
    position: relative;
}

// ----

.tooltip {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    pointer-events: none;
    width: 225px;
    box-sizing: content-box;

    .tooltipHeader {
        background: $color-yellow;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 20px;
        .tooltipHeading {
            @include h3();
        }
    }

    .tooltipBody {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;

        .tooltipDatum {
            &:not(:last-child) {
                margin-bottom: 26px;
            }

            display: flex;
            flex-direction: row;
            align-items: center;

            .tooltipDatumValue {
                @include h2();
                margin-right: 12px;
            }

            .tooltipDatumLabel {
                // TODO
                @include buttonFont();
            }
        }
    }
}

// ----------

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s;
    &[data-visible="false"] {
        opacity: 0;
        pointer-events: none;
    }
}

.circleVis {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;

    .visCircle {
        fill: none;
        stroke: $color-navy;
        stroke-width: 2px;
    }
}

// ------

.bivariateLegend {
    position: absolute;
    bottom: 69px;
    left: calc(50vw - (#{$container-width} / 2) + 69px);
}

$l-w: 120px;
$lc-w: $l-w / 3;
.legendColour {
    display: flex;
    flex-direction: column;
    width: $l-w;
}

.legendColourRow {
    display: flex;
    flex-direction: row;
}

.legendColourCell {
    width: $lc-w;
    height: $lc-w;
}

.legendColourLabel {
    background: $color-navy;
    color: white;
    @include buttonFont(center);
    font-size: 14px;
    border-radius: 24000px;
    padding: 8px 16px;
    position: absolute;
    transform-origin: center center;
    white-space: nowrap;
    &[data-x="true"] {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%) translateY(32px);
    }
    &[data-y="true"] {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(-90deg) translateY(-48px);
    }
}
