@import "../../variables.scss";

// -----

.pillarControl {
    margin-bottom: 24px;

    .pillarLabel {
        @include body();
        font-weight: bold;
    }

    .pillarButtons {
        display: flex;
        flex-direction: row;
        .pillarButton {
            background: none;
            outline: none;
            pointer: cursor;
            border: 2px solid $color-navy;
            padding: 12px 16px;
            @include buttonFont();

            &[data-selected="true"] {
                background: $color-yellow;
            }
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}
// ----

.pillarInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 18px;

    .pillarInfoText {
        flex-grow: 1;
        .pillarHeading {
            @include h1();
        }

        .pillarDescription {
            @include body();
            margin-bottom: 0;
        }
    }

    .pillarIndicators {
        width: 323px;
        min-width: 323px;
        height: 125px;
        background: $color-blue-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 36px;
    }
}

// ------------

.mapContainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 560px;
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s;
    &[data-visible="false"] {
        opacity: 0;
        pointer-events: none;
    }
}
