@import "../../variables.scss";

.tableContainer {
    width: 100%;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
    @include mobileOnly() {
        table-layout: fixed;
        @include bodyXSmall();
    }
    &[data-with-borders="true"] {
        border: 3px solid $color-blue-bg;
        .header {
            border-bottom: 3px solid $color-blue-bg;
        }
    }
    .header {
        border-bottom: 2px solid $color-navy;
    }
}

.headerCell {
    border: none !important;
    text-align: start;
    vertical-align: top;
    padding: 12px 24px;
    @include mobileOnly() {
        padding: 6px;
    }
}

.row {
    font-family: $font-proxima;
}

.row, .headerRow {
    border-bottom: 1px solid $color-blue-bg !important;
}

.cell {
    border: none !important;
    padding: 12px 24px;
    background-color: #fff !important;

    @include mobileOnly() {
        padding: 6px;
    }

    &:first-of-type {
        font-weight: bold;
    }

    a {
        color: $color-highlight-blue;
    }

    @media (max-width: $width-mobile) {
        padding: 10px;
        font-size: 12px;
        vertical-align: top;
    }
}

.footer {
    width: 100%;
    display: table;
    background: $color-blue-bg;
    border: 3px solid $color-blue-bg;
    padding: 12px 24px;
    box-sizing: border-box;
    margin-top: -2px;
}
