@import "../../variables.scss";

// -----

.pillarControl {
    margin-bottom: 12px;

    .pillarLabel {
        @include body();
        font-weight: bold;
        margin-bottom: 0;
    }

    .pillarButtons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px;
        .pillarButton {
            background: none;
            outline: none;
            cursor: pointer;
            border: 2px solid $color-navy;
            padding: 12px 16px;
            @include buttonFont();

            &[data-selected="true"] {
                background: $color-yellow;
            }
            margin: 12px;
        }
    }
}
// ----

.pillarInfo {
    .pillarInfoText {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 24px 0;
        margin-bottom: 24px;

        &:before {
            content: "";
            display: block;
            width: 100vw;
            position: absolute;
            left: 50%;
            right: 50%;
            height: 100%;
            margin-left: -50vw;
            margin-right: -50vw;
            background: $color-blue-bg;
            z-index: -1;
            top: 0;
            bottom: 0;
        }

        .pillarHeading {
            @include h1();
            min-width: 290px;
            width: 290px;
            margin-right: 24px;
        }

        .pillarDescription {
            @include body();
            flex-grow: 1;
            margin-top: 2px;
            margin-bottom: 0;

            em {
                display: block;
                margin-bottom: 5px;
                font-style: normal;
                font-weight: bold;
            }
        }
    }
}

// -------
// Dropdown
.locationDropdown {
    position: relative;
    width: 100%;
}

.filterHeading {
    @include h4();
    margin: 0;
    padding: 12px 0 4px 11px;
}

.locationDropdownButton {
    border: none;
    background: white;
    outline: none;
    border-radius: 22px;
    padding: 13px 22px;
    padding-bottom: 9px;
    @include buttonFont();
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    transition: border-radius 0.2s;

    &[data-selected="true"] {
        border-radius: 22px 22px 0 0;
        z-index: 13;
    }
}

.blanket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.dropdownIcon {
    width: 12px;
}

.dropdownContent {
    position: relative;
    height: 0;
    display: block;
    &[data-open="false"] {
        display: none;
    }
}

.selectContainer {
    position: relative;
    // width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: white;
}
