@import "../../variables.scss";

.pillarHeading {
    h5 {
        margin-bottom: 24px;
        font-weight: normal;

        strong {
            font-weight: 600;
        }
    }

    .pillarHeadingMain {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        h1 {
            max-width: 300px;
            margin: 0 36px 0 0;
            font-size: 60px;
        }
    }
}
